<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Libraray Management App</title> -->
    <title><%=title%></title></title>
    <!-- <link rel="stylesheet" href="/public/css/style.css"> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  
</head>
<body>
<!-- anvigation baar starts here -->

<div class="form">
  
  <nav class="navbar navbar-expand-sm navbar-fixed-top bg-navbar  ">
    
     <ul class="navbar-nav mr-auto navtagcustom">
       <%for(i=0;i<nav.length;i++){%>
        <li class="nav-item">
        <a class="nav-link"  href="<%=nav[i].link%>" ><%=nav[i].name%></a>
       </li>
       <%}%>
     
      </ul>
     </div>
  </nav>

  <!-- navigation bar ends here -->
   
    <div class="jumbotron customjumbotron">
      <h1 >BOOK</h1>
      <div class="container pt-3 rectangle"></div>
    </div>
    <!-- jumbotron class ends here -->
    <!-- container class starts  here-->

    <div class="container myc">
       
      <div class="media ">
        <img src="../images/<%=book.img%>" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:100px;">
            <div class="media-body textalign">
               <h4><%=book.title%></h4>
               <kbd><%=book.author%></kbd><br>
               <small><%=book.catogory%>   </small> 
             </div>
        </div>
        <hr>
        
      
       

       
    </div>
     <!-- container class ends  here-->
     <!-- footer starts -->
     <footer>
      <div class="f socialconnection">
        <h2>Follow Us</h2>
        <button type="button" class="btn btn-info">Twitter</button>
        <button type="button" class="btn btn-primary">Facebook</button>
        <button type="button" class="btn btn-danger">Google+</button>
      </div>
     </footer>
   <!-- footer ends -->
  
    
  
   <script src="/public/js/bootstrap.min.js"></script>
   <script src="/public/js/script.js"></script>
</body>
</html>